<main class="container">
    <h2>Usuarios</h2>
    <a (click)="novo()" class="btn btn-primary">Novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umUsuario of listaUsuarios">
                <td>{{umUsuario.id}}</td>
                <td>{{umUsuario.nome}}</td>
                <td>{{umUsuario.email}}</td>
                <td>
                    <a (click)="alterar(umUsuario)" class="btn btn-secondary">Alterar</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>