<div class="player-header">
  <span class="logo">Music Player</span>
  <span class="now-playing">Tocando: {{ musicaTocando.titulo }}</span>
</div>

<table class="music-table">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Artista</th>
      <th>Album</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let musica of musicas" (click)="tocar(musica)" [class.selected]="musica === musicaTocando">
      <td>{{ musica.titulo }}</td>
      <td>{{ musica.artista }}</td>
      <td>{{ musica.album }}</td>
    </tr>
  </tbody>
</table>

<div class="audio-container">
  <audio #audioPlayer [src]="musicaTocando.urlAudio" controls autoplay></audio>
</div>