<div class="container-musicplayer">
  <aside class="sidebar">
    <nav>
      <ul>
        <li class="h2" [routerLink]="['/player']" routerLinkActive="active"><span>🎧</span>MusicPlayer</li>
        <li [routerLink]="['/player/liked-songs']" routerLinkActive="active"><span>❤️</span>Músicas Curtidas</li>
        <li [routerLink]="['/player/profile']" routerLinkActive="active"><span>👤</span>Perfil</li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
    <div class="audio-container" *ngIf="musicaTocando">
      <audio #audioPlayer [src]="musicaTocando.urlAudio" controls autoplay></audio>
    </div>
  </main>
</div>