html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fff 60%, #3571ff 100%);
}

body {
  min-height: 100vh;
 background: linear-gradient(135deg, #fff 60%, #3571ff 100%);
}

.main-bg {
  min-height: 94vh;
  background: linear-gradient(135deg, #fff 60%, #3571ff 100%);
}

.logo-musicplayer {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.main-title {
  color: #000;
}

.highlight {
  color: #ff0000;
}

.main-desc {
  color: #000;
  max-width: 400px;
}

.main-img {
  max-width: 400px;
}

.btn-pink {
  background: #ff0000;
  color: #fff;
  border: none;
}

.btn-pink:hover {
  background: #e02e65;
  color: #fff;
}

.btn-outline-light {
  color: #fff;
  border: none;
  background: #3571ff;
}

