<nav class="navbar navbar-dark bg-dark px-4">
  <a href="#"class="navbar-brand mb-0 h1 logo-musicplayer" style="cursor:pointer;">MusicPlayer</a>

</nav>
<main class="usuario-main">
    <h2>Usuario</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtNome">Nome</label>
                <input type="text" [(ngModel)]="usuario.nome" class="form-control" id="txtNome">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="email" [(ngModel)]="usuario.email" class="form-control" id="txtEmail">
            </div>
            <div class="form-group">
                <label for="txtSenha">Senha</label>
                <input type="password" [(ngModel)]="usuario.senha" class="form-control" id="txtSenha">
            </div>
        </div>
    <div class="text-center">
        <a href="/login"class="forgot-link">Ja tem conta?</a>
    </div>
        <button (click)="salvar()" class="btn btn-primary w-100">Salvar</button>
    </div>
</main>