<main class="container">
    <h2>Usuario</h2>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label for="txtNome">Nome</label>
                <input type="text" [(ngModel)]="usuario.nome" class="form-control" id="txtNome">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="email" [(ngModel)]="usuario.email" class="form-control" id="txtEmail">
            </div>
            <div class="form-group">
                <label for="txtSenha">Senha</label>
                <input type="password" [(ngModel)]="usuario.senha" class="form-control" id="txtSenha">
            </div>
        </div>
        <button (click)="salvar()" class="btn btn-primary">Salvar</button>
    </div>
</main>