<div class="main-content">
  <div class="top-bar">
    <span class="now-playing">Tocando: {{ musicaTocando.titulo }}</span>
  </div>
  <input class="search-input" type="text" placeholder="Procurar Músicas" [(ngModel)]="searchTerm" />
  <table class="music-table">
    <thead>
      <tr>
        <th>Artista</th>
        <th>Nome da Música</th>
        <th>Álbum</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musica of musicasFiltradas" (click)="tocar(musica)" [class.selected]="musica === musicaTocando">
        <td>{{ musica.artista }}</td>
        <td>{{ musica.titulo }}</td>
        <td>{{ musica.album }}</td>
        <td>
          <button (click)="curtirMusica(musica); $event.stopPropagation()">❤️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>